body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.homepage-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logout-btn {
  width: 100px;
  position: absolute;
  top: 0px;
  right: 4%;
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.users-section {
  flex: 1;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chatrooms-section {
  flex: 1;
  margin-left: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-list,
.chatrooms-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-card {
  width: 85%;
  text-decoration: none;
  color: #333;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.username,
.chatroom-name {
  margin-left: 10px;
}

.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.chatroom-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.chatroom-link {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
  color: #333;
}

.chatroom-name {
  font-weight: bold;
}

.chatroom-buttons {
  display: flex;
  gap: 10px;
}

.join-room-btn,
.leave-room-btn,
.delete-room-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.join-room-btn {
  background-color: green;
  color: white;
}

.leave-room-btn {
  background-color: red;
  color: white;
}

.delete-room-btn {
  background-color: red;
  color: white;
}

.create-chatroom-btn {
  width: 100px;
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.create-chatroom-btn:hover {
  background-color: #45a049;
}

.create-room-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.room-name-input {
  width: 400px;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-room-btn,
.cancel-room-btn {
  width: 100px;
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.cancel-room-btn {
  background-color: #f44336;
}

.submit-room-btn:hover,
.cancel-room-btn:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .homepage-container {
      flex-direction: column;
  }
}
